/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
.DS_Store
*.log
*.cache
*.swp
*.swo
.php-cs-fixer.cache
.phpcs-cache
/.cache

# Docker
docker-compose.override.yml

# Ignorer le storage compilé
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*

# Mais conserver les dossiers
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep

# Ne pas ignorer le répertoire bootstrap/cache
/bootstrap/cache/*.php
/bootstrap/cache/*.meta
/bootstrap/cache/*.lock

# Mais conserver les dossiers
!/bootstrap/cache/.gitkeep

# Filament
/public/vendor/filament
.config/*
.config
.var
